.Button{
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .625rem;
    border-radius: .5rem;
    background-color: #fefefe;
    border: 1px solid #dbdbdb;
    box-shadow: 3px 13px 47px -11px rgba(0,0,0,1);
    transition: all ease-in-out .2s;
}

.Button:hover{
    border: 1px solid #6965db;
}

.Button:hover svg{
    fill: #6965db;
}