.Profile {
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .625rem;
    border-radius: .3rem;
    background-color: #fefefe;
    border: 1px solid #dbdbdb;
    box-shadow: 7px 11px 22px -13px rgba(0,0,0,0.75);
    transition: all ease-in-out .2s;
    margin-bottom: 7px;
}
.Profile img{
    width: 50px;
}
.ProfileText{
    cursor: text;
    font-size: 12px;
    transition: opacity 0.3s ease-in-out;
}
.ProfileText h1{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.ProfileText p{
    margin: 0;
    color: #646464;
    font-size: 12px;
    font-weight: 100;
}
.Profile .Button{
    box-shadow: none;
}
.visible {
    opacity: 1;
}