/* En tu archivo Profile.css */
.Profile{
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;
  height: 100px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  padding: 5px 5px 5px 5px;
}
.Profile img{
  top: 15%;
  left: 5%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #000000;
}
.ProfileText {
  top: 17%;
  left: 34%;
  position: absolute;
  word-wrap: break-word;
}
.ProfileText h1{
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.ProfileText p{
  margin: 0;
  color: #646464;
  font-size: 11px;
  font-weight: 100;
}