.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column  ;
    padding-bottom: 0;
    background: white;
    transition: all 0.35s ease-in;
    z-index: 99999999;
}

.modal-link a{
    font-size: 2rem;
    padding: 10px;
    color: #000;
    display: flex;
    flex-direction: inherit;
}

.modal-link {
    font-size: 2rem;
    padding: 10px;
    color: #000;
    display: flex;
    flex-direction: inherit;
}

a{
    display: none;
}

.HistoryText{
    width: 70%;
    height: -webkit-fill-available;
    padding: 50px 80px;
    border: 1px solid #000;
    border-radius: 6px;
    position: relative;
}
.HistoryText::-webkit-scrollbar{
	width: 10px;
}

.HistoryText::-webkit-scrollbar-thumb{
    border-radius: 6px;
	background-color: #cfcfcf;
}
.modal .User{
    transform: translateY(50px);
    background: #ffffff;
    z-index: 9999999;
    margin-bottom: 10px;
}
.modal .User h1{
    cursor: text;
}
.modal .User h1:hover{
    text-decoration: none;
}
.HistoryText p{
    color: #6F7179;
}