.UserText {
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 40px 30px 30px 30px;
    text-align: center;
    line-height: 10px;
}
.UserText h1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}
.UserText p{
    color: #646464;
    font-size: 15px;
    font-weight: 100;
}
.User img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #000000;
    border-radius: 50%;
    transform: translateY(40px);
}
.User{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}